
*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.limit-contener{
    max-width: 1400px;
    margin:0;
    padding-left: 5px ;
    padding-right: 5px;
}

h1{ 
    margin: 0;
    text-align: center;
    font-size: 40px;
}

h2{
    margin: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
}

h3{
    margin: 0;
   color:#2E2E2E; 
   text-align: center;
   font-weight: 600;
   font-size: 30px;
}
p{
    text-align: center;
    margin-bottom: 0;
    
}


#main{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap-:10px;    
}



#nav-barre{
  height: 52px;
  background-color: #DD5555;
  display: flex;
  align-items: center;
 gap: 10px;
}

#nav-logo{
    width: 240px;
    display: flex;
    justify-content: end;
}

#logo{
    margin: 5px 0px 5px 0px;
    width: 120px;
    display: flex;
    justify-self: end;
}

#nav-options{
    margin: 10px 0px 10px 0px;
width: 318px;
display: flex;
}

.a-nav{
    width: 89px;
    height: 52px;
    margin: 15px 0px 15px 0px; padding: 5px 0px 5px 0px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#FFFFFF ;  
    background: transparent;
     
}
.a-nav:hover{
    background:  rgba(0, 0, 0, 0.25);
}

#a-propos{
    margin-bottom: 20px;
   height: 658px; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #FFFFFF;
   background-image: url("Assets/about.jpg.png");
}

.barre{
   width: 370px;
   margin-top: 20px;
   border-top: solid 0.15px #FFFFFF;
}

.buttons{
    display: flex;
    margin-top: 15px;
}

.a-p-buttons{
margin: 10px;
width: 112px;
height: 46px;
border:none;
border-radius: 5px;
display: flex;

align-items: center;
}

.button-icone{
    margin: 10px;
    width: 16px;
    height: 17px;
    clip-path: circle(90%);
}

.cadre-h2{
    margin: 5px;
}
.h2-cadre{
    width: 940px;
    height: 65px;
    font-size:xx-large;
    font-weight: 600;
}
#services{
    margin: 10px;
    width: 100%;
    min-height: 649px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tableau{
    margin:0 ;
    margin-top:10px ;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
    gap: 5px;
}

.cards-services{
   width: 358px;
   height: 266px; 
   margin: 25px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden; 
}

.icone-card-content{
    margin-bottom: 15px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: #DD5555;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icone-card1{
    width: 55px;
    height: 70px;
}

#icone-card2{
    width: 80px;
    height: 54px;
}

#icone-card3{
    width: 55px;
    height: 70px;
}

#icone-card4{
    width: 70px;
    height: 55px;
}

#icone-card5{
    width: 70px;
    height: 67px;   
}

#icone-card6{
    width: 36px;
    height: 70px;
}

#equipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadre-h2 {
    width: 1400px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Assets/team.jpg.png");
    color: #FFFFFF;
}



.cards{  
    display: flex;
    justify-content: space-between;
}

.card{
    width: 239px;
    height: 365px; 
    margin: 35px; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar{
    width: 239px;
    height: 239px;
    margin: 20px;
    border-radius: 100%;    
}

.avatar-button{
    margin: 20px;
    width: 132px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #DD5555;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
.avatar-button img{
    margin: 4px;
}

footer{
    height: 476px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DD5555;
    color: #FFFFFF;
}

.form{
   width: 748px;  
   margin: 30px; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
} 


#form-part1{
    width: 748px;
    display: flex;
    justify-content: space-between;
}
#form-part2{
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#name{
    margin: 2px;
    width: 358px;
    height: 32px;
    border: none; 
    border-radius: 2px;
}

#email{
    margin: 2px;
    width: 358px;
    height: 32px;
    border: none;
    border-radius: 2px;
}

#message{
    
    padding-left: 5px;
}

#textarea{
    width: 748px;
    height: 112px;  
    margin: 5px; 
    border: none;
    border-radius: 2px;
}
#send-button{
    width: 123px;
    height: 46px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end; 
    border: none;
    border-radius: 5px;
}
#send-button img{
    margin: 4px;
    
}